{:highlights [{:id #uuid "662a813a-12cd-41c3-853a-918ca70fd7a4",
               :page 177,
               :position {:bounding {:x1 54.15625,
                                     :y1 778.0078125,
                                     :x2 348.92120361328125,
                                     :y2 822.109375,
                                     :width 726,
                                     :height 953.5703538590137},
                          :rects ({:x1 124.3203125,
                                   :y1 778.0078125,
                                   :x2 348.89971923828125,
                                   :y2 792.0078125,
                                   :width 726,
                                   :height 953.5703538590137}
                                  {:x1 54.15625,
                                   :y1 793.0625,
                                   :x2 348.92120361328125,
                                   :y2 807.0625,
                                   :width 726,
                                   :height 953.5703538590137}
                                  {:x1 54.15625,
                                   :y1 808.109375,
                                   :x2 345.0687561035156,
                                   :y2 822.109375,
                                   :width 726,
                                   :height 953.5703538590137}),
                          :page 177},
               :content {:text "Abortion is the expulsion or extraction from its mother of an embryo or fetus weighing 500 g or less when it is not capable of independent surviva"},
               :properties {:color "yellow"}}
              {:id #uuid "662a821c-8192-434c-b796-b8dcfbdf9b13",
               :page 177,
               :position {:bounding {:x1 152.4765625,
                                     :y1 838.2109375,
                                     :x2 345.9158935546875,
                                     :y2 852.2109375,
                                     :width 726,
                                     :height 953.5703538590137},
                          :rects ({:x1 152.4765625,
                                   :y1 838.2109375,
                                   :x2 345.9158935546875,
                                   :y2 852.2109375,
                                   :width 726,
                                   :height 953.5703538590137}),
                          :page 177},
               :content {:text "22 weeks (154 days) of gestation"},
               :properties {:color "yellow"}}
              {:id #uuid "662a8222-adf2-4035-8444-a840ff2a3aa9",
               :page 177,
               :position {:bounding {:x1 152.4765625,
                                     :y1 838.2109375,
                                     :x2 345.9158935546875,
                                     :y2 852.2109375,
                                     :width 726,
                                     :height 953.5703538590137},
                          :rects ({:x1 152.4765625,
                                   :y1 838.2109375,
                                   :x2 345.9158935546875,
                                   :y2 852.2109375,
                                   :width 726,
                                   :height 953.5703538590137}),
                          :page 177},
               :content {:text "22 weeks (154 days) of gestation"},
               :properties {:color "yellow"}}
              {:id #uuid "662a8228-1015-42d7-92fb-6591da310e1d",
               :page 177,
               :position {:bounding {:x1 152.4765625,
                                     :y1 838.2109375,
                                     :x2 345.9158935546875,
                                     :y2 852.2109375,
                                     :width 726,
                                     :height 953.5703538590137},
                          :rects ({:x1 152.4765625,
                                   :y1 838.2109375,
                                   :x2 345.9158935546875,
                                   :y2 852.2109375,
                                   :width 726,
                                   :height 953.5703538590137}),
                          :page 177},
               :content {:text "22 weeks (154 days) of gestation"},
               :properties {:color "red"}}
              {:id #uuid "662a8241-c955-4b50-9b9c-d81072ace9c4",
               :page 177,
               :position {:bounding {:x1 152.4765625,
                                     :y1 838.2109375,
                                     :x2 345.9158935546875,
                                     :y2 852.2109375,
                                     :width 726,
                                     :height 953.5703538590137},
                          :rects ({:x1 152.4765625,
                                   :y1 838.2109375,
                                   :x2 345.9158935546875,
                                   :y2 852.2109375,
                                   :width 726,
                                   :height 953.5703538590137}),
                          :page 177},
               :content {:text "22 weeks (154 days) of gestation"},
               :properties {:color "red"}}
              {:id #uuid "662a82cc-0ed8-4d0a-8459-45ffd94af106",
               :page 178,
               :position {:bounding {:x1 174,
                                     :y1 94.5,
                                     :x2 726,
                                     :y2 348.5,
                                     :width 884.3296,
                                     :height 1161.5296},
                          :rects (),
                          :page 178},
               :content {:text "[:span]", :image 1714062025591},
               :properties {:color "green"}}
              {:id #uuid "662a83f6-74f2-4375-9fc1-0f74339490fc",
               :page 177,
               :position {:bounding {:x1 440,
                                     :y1 934.5,
                                     :x2 801,
                                     :y2 1040.5,
                                     :width 884.3296,
                                     :height 1161.5296},
                          :rects (),
                          :page 177},
               :content {:text "[:span]", :image 1714062324460},
               :properties {:color "green"}}
              {:id #uuid "662a8735-5c5f-462a-b3d2-54debdb99008",
               :page 178,
               :position {:bounding {:x1 79.1640625,
                                     :y1 472.875,
                                     :x2 438.2184753417969,
                                     :y2 505.2421875,
                                     :width 884.3296,
                                     :height 1161.5296},
                          :rects ({:x1 189.6328125,
                                   :y1 472.875,
                                   :x2 438.2184753417969,
                                   :y2 488.375,
                                   :width 884.3296,
                                   :height 1161.5296}
                                  {:x1 79.1640625,
                                   :y1 489.7421875,
                                   :x2 438.190185546875,
                                   :y2 505.2421875,
                                   :width 884.3296,
                                   :height 1161.5296}),
                          :page 178},
               :content {:text "Monosomy X (45, X) is the single most common chromosomal abnormality in miscarriages (20%)."},
               :properties {:color "yellow"}}
              {:id #uuid "662a9a02-d32c-45da-a7a3-075328492a17",
               :page 179,
               :position {:bounding {:x1 366.25,
                                     :y1 574,
                                     :x2 661.0037841796875,
                                     :y2 618.859375,
                                     :width 726,
                                     :height 953.5703538590137},
                          :rects ({:x1 366.25,
                                   :y1 574,
                                   :x2 661.0037841796875,
                                   :y2 588.5,
                                   :width 726,
                                   :height 953.5703538590137}
                                  {:x1 366.25,
                                   :y1 589.8125,
                                   :x2 661.003662109375,
                                   :y2 603.8125,
                                   :width 726,
                                   :height 953.5703538590137}
                                  {:x1 366.25,
                                   :y1 604.859375,
                                   :x2 576.190673828125,
                                   :y2 618.859375,
                                   :width 726,
                                   :height 953.5703538590137}),
                          :page 179},
               :content {:text "DEFINITION: It is a clinical entity where the process of miscarriage has started but has not progressed to a state from which recovery is impossible"},
               :properties {:color "yellow"}}
              {:id #uuid "662a9b2b-ebe2-4a33-b12e-5ae220cbef9d",
               :page 180,
               :position {:bounding {:x1 377.1875,
                                     :y1 451.0390625,
                                     :x2 671.9533081054688,
                                     :y2 495.90625,
                                     :width 726,
                                     :height 953.5703538590137},
                          :rects ({:x1 377.1875,
                                   :y1 451.0390625,
                                   :x2 671.9434814453125,
                                   :y2 465.5390625,
                                   :width 726,
                                   :height 953.5703538590137}
                                  {:x1 377.1875,
                                   :y1 466.8515625,
                                   :x2 671.9533081054688,
                                   :y2 480.8515625,
                                   :width 726,
                                   :height 953.5703538590137}
                                  {:x1 377.1875,
                                   :y1 481.90625,
                                   :x2 595.03125,
                                   :y2 495.90625,
                                   :width 726,
                                   :height 953.5703538590137}),
                          :page 180},
               :content {:text "DEFINITION: It is the clinical type of abortion where the changes have progressed to a state from where continuation of pregnancy is impossible."},
               :properties {:color "yellow"}}
              {:id #uuid "662a9c18-1a08-4a3b-a022-3e7ffdfeac23",
               :page 181,
               :position {:bounding {:x1 51.765625,
                                     :y1 689.8203125,
                                     :x2 333.55206298828125,
                                     :y2 730.703125,
                                     :width 694.0000000000001,
                                     :height 911.5397046531068},
                          :rects ({:x1 51.765625,
                                   :y1 689.8203125,
                                   :x2 333.55206298828125,
                                   :y2 702.8203125,
                                   :width 694.0000000000001,
                                   :height 911.5397046531068}
                                  {:x1 51.765625,
                                   :y1 703.890625,
                                   :x2 333.4930419921875,
                                   :y2 716.890625,
                                   :width 694.0000000000001,
                                   :height 911.5397046531068}
                                  {:x1 51.765625,
                                   :y1 717.703125,
                                   :x2 333.5390625,
                                   :y2 730.703125,
                                   :width 694.0000000000001,
                                   :height 911.5397046531068}),
                          :page 181},
               :content {:text "DEFINITION: When the entire products of conception are not expelled, instead a part of it is left inside the uterine cavity, it is called incomplete miscarriage."},
               :properties {:color "yellow"}}
              {:id #uuid "662aa2a0-92c6-4951-8bb2-659717c3e175",
               :page 181,
               :position {:bounding {:x1 51.765625,
                                     :y1 328.75,
                                     :x2 333.53155517578125,
                                     :y2 356.3984375,
                                     :width 694.0000000000001,
                                     :height 911.5397046531068},
                          :rects ({:x1 51.765625,
                                   :y1 328.75,
                                   :x2 333.53155517578125,
                                   :y2 341.75,
                                   :width 694.0000000000001,
                                   :height 911.5397046531068}
                                  {:x1 51.765625,
                                   :y1 343.3984375,
                                   :x2 314.7109375,
                                   :y2 356.3984375,
                                   :width 694.0000000000001,
                                   :height 911.5397046531068}),
                          :page 181},
               :content {:text "DEFINITION: When the products of conception are expelled en masse, it is called complete miscarriage."},
               :properties {:color "yellow"}}
              {:id #uuid "662aa384-f792-4766-8d43-11d508e42f9a",
               :page 181,
               :position {:bounding {:x1 350.109375,
                                     :y1 714.8515625,
                                     :x2 631.890869140625,
                                     :y2 756.8828125,
                                     :width 694.0000000000001,
                                     :height 911.5397046531068},
                          :rects ({:x1 350.109375,
                                   :y1 714.8515625,
                                   :x2 631.890869140625,
                                   :y2 727.8515625,
                                   :width 694.0000000000001,
                                   :height 911.5397046531068}
                                  {:x1 350.109375,
                                   :y1 729.4921875,
                                   :x2 627.618408203125,
                                   :y2 742.4921875,
                                   :width 694.0000000000001,
                                   :height 911.5397046531068}
                                  {:x1 350.109375,
                                   :y1 743.8828125,
                                   :x2 502.2734375,
                                   :y2 756.8828125,
                                   :width 694.0000000000001,
                                   :height 911.5397046531068}),
                          :page 181},
               :content {:text "DEFINITION: When the fetus is dead and retained inside the uterus for a variable period, it is called missed mis carriage or early fetal demise."},
               :properties {:color "yellow"}}
              {:id #uuid "662aa4be-7b2f-48b0-b680-dc429723c5b7",
               :page 182,
               :position {:bounding {:x1 360.46875,
                                     :y1 493.3046875,
                                     :x2 642.2691040039062,
                                     :y2 535.3359375,
                                     :width 694.0000000000001,
                                     :height 911.5397046531068},
                          :rects ({:x1 360.46875,
                                   :y1 493.3046875,
                                   :x2 638.0153198242188,
                                   :y2 506.3046875,
                                   :width 694.0000000000001,
                                   :height 911.5397046531068}
                                  {:x1 360.46875,
                                   :y1 507.9453125,
                                   :x2 642.2691040039062,
                                   :y2 520.9453125,
                                   :width 694.0000000000001,
                                   :height 911.5397046531068}
                                  {:x1 360.46875,
                                   :y1 522.3359375,
                                   :x2 477.17047119140625,
                                   :y2 535.3359375,
                                   :width 694.0000000000001,
                                   :height 911.5397046531068}),
                          :page 182},
               :content {:text "DEFINITION: Any abortion associated with clinical evi dences of infection of the uterus and its contents is called septic abortion."},
               :properties {:color "yellow"}}],
 :extra {:page 182}}
